<!--General Body --> 
body{
  font-family: Arial, san-serif;
  margin: 0;
  background-color: #f5f0eb;
}

<!-- First section of the Homepage -->
.banner{
  background color: #2c3e50;
  padding 80px 20px;
}

.banner h1{
  font-size: 42px;
  margin-bottom: 10px;
}

.banner p{
  font-size: 18px;
  
