
/* Jamie Capone */

/* General Body */
body{
  font-family: Arial, san-serif;
  margin: 0;
  background-color: #f5f0eb;
}

/* First section of the Homepage */
.banner{
  background color: #2c3e50;
  padding 80px 20px;
}

.banner h1{
  font-size: 42px;
  margin-bottom: 10px;
}

.banner p{
  font-size: 18px;
}

/* sign up form section formatting */
.signup-form .mb-3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
}

.signup-form label {
  width: 160px;      /* label width */
  margin: 0;
}

.signup-form input,
.signup-form select {
  width: 300px;      /* input width */
  margin: 0;
}


/* footer */
footer{
  background-color: #2c3e50;
  color: white;
  text-alight: center;
  padding: 20px;
  margin-top: 40px;
}
footer p{
  margin: 5px 0;
}
  
