
/* Jamie Capone */

/* General Body */
body{
  font-family: Arial, san-serif;
  margin: 0;
  background-color: #f5f0eb;
}

/* First section of the Homepage */
.banner {
  color: white;
  background-color: #2c3e50; 
  padding: 80px 20px;
}

.banner h1{
  font-size: 42px;
  margin-bottom: 10px;
}

.banner p{
  font-size: 18px;
}

/* sign up form section formatting */
.signup-form .mb-3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 30px;
}

.signup-form label {
  width: 160px;      /* label width */
  margin: 0;
}

.signup-form input,
.signup-form select {
  width: 300px;      /* input width */
  margin: 0;
}

/* City images on the Homepage */
.city-photos {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.city-photos {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.city-card {
  width: 30%;
  text-align: center;
}

.city-card img {
  width: 100%;
  height: auto;
  display: block;
}

.city-card select {
  margin-top: 10px;
}


/* footer */
footer{
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
footer p{
  margin: 5px 0;
}
  
